@use '../vars';


.header {
  position: fixed;
  padding: 40px 10px;
  top: 0;
  left: 0;
  right: 0;
  background-color: vars.$white;
  z-index: 999;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    flex-wrap: wrap;
  }
}

.menu {
  &__btn {
    display: none;
  }
  &__list {
    display: flex;
  }
  &__list-item:not(:last-child) {
    margin-right: 35px;
  }
  &__list-link {
    @extend %roboto-500;
    color: vars.$title;
    border-bottom: 1px solid transparent;
    transition: all .3s ease-in-out;
    &:hover {
      color: vars.$accent;
      border-bottom: 1px solid vars.$accent;
    }
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
    display: flex;
    svg{
      path{
        transition: all .3s ease-in-out;
      }
    }
    &:hover{
      svg{
        path{
          fill: vars.$accent;
      }
    }
  }
  }
  &__link:not(:last-child){
    margin-right: 25px;
  }
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -9px;
    right: -13px;
    background-color: vars.$accent;
    border-radius: 50%;
    font-size: 12px;
    color: vars.$white;
    text-align: center;
  }
}

//adaptiv

@media (max-width: 1600px){
  .header{
    padding: 20px 5px;
  }
}

@media (max-width: 991px) {
  .menu {
    margin-left: 40px;
    order: 1;
    &__list {
      position: absolute;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100vh;
      top: 70px;
      left: 0;
      right: 0;
      background-color: vars.$white;
      transform: translateX(200%);
      z-index: 5;
      transition: all .5s ease-in-out;
      &.menu__list--active {
        transform: translateX(0%);
        transition: all .5s ease-in-out;
      }
    }
    &__list-item {
      margin-right: 0 !important;
      padding: 0 15px;
      width: 100%;
      text-align: center;
    }
    &__list-link {
      padding: 12px 0;
      display: block;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
    &__btn{
      position: relative;
      display: block;
      width: 30px;
      height: 26px;
      background: transparent;
      border-top: 4px solid vars.$black;
      border-bottom: 4px solid vars.$black;
      transition: all .3s ease-in-out;
      &:before,
      &:after {
        content: ' ';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        top: 50%;
        left: 50%;
        background: currentColor;
        transform: translate(-50%, -50%);
        transition: transform .3s ease-in-out;
      } 
      &.menu__btn--active {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
  .user-nav {
    margin-left: auto;
  }
}

@media (max-width: 500px) {
  .header {
    .logo{
      display: none;
    }
    &__inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .user-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    &__link{
      padding: 5px;
    }
  }
}
