body, a {
    font-family: "Quicksand-Medium", sans-serif;
    font-weight: 500;
}

.info__item-title, .categories__link, .top-slider__link, .video__link, .footer-top__form-btn {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
}

.footer-top__title, .menu__list-link {
    font-family: "Roboto-Medium", sans-serif;
    font-weight: 500;
}

.top-slider__title, .title {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
}

.footer-top__form-btn {
    position: relative;
    padding: 12px 26px;
    top: -1px;
    background-color: #fe3e57;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    cursor: pointer;
    border: none;
}

.footer-top__form-btn:hover {
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.5);
}

.footer-top__form-btn:active {
    top: 2px;
}

.top-slider__link, .video__link {
    position: relative;
    display: inline-block;
    padding: 14px 36px;
    color: #29282d;
    text-transform: uppercase;
    border: 1px solid #fe3e57;
    transition: 1s all ease;
    cursor: pointer;
}

.top-slider__link::before, .video__link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 0%;
    height: 100%;
    background: #fe3e57;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s ease;
}

.top-slider__link:hover::before, .video__link:hover::before {
    width: 100%;
}

.header {
    padding: 40px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 999;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.menu__btn {
    display: none;
}

.menu__list {
    display: flex;
}

.menu__list-item:not(:last-child) {
    margin-right: 35px;
}

.menu__list-link {
    color: #29282d;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.menu__list-link:hover {
    color: #fe3e57;
    border-bottom: 1px solid #fe3e57;
}

.user-nav {
    display: flex;
}

.user-nav__link {
    display: flex;
    position: relative;
}

.user-nav__link svg path {
    transition: all 0.2s;
}

.user-nav__link:hover svg path {
    fill: #fe3e57;
}

.user-nav__link:not(:last-child) {
    margin-right: 25px;
}

.user-nav__num {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -9px;
    right: -13px;
    background-color: #fe3e57;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1.6;
    color: #ffffff;
    text-align: center;
}

@media (max-width: 1400px) {
    .header {
        padding: 20px 5px;
    }
}

@media (max-width: 991px) {
    .menu {
        order: 1;
        margin-left: 40px;
    }

    .menu__list {
        position: absolute;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 70px;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: #ffffff;
        z-index: 5;
        transform: translateX(200%);
        transition: all 0.5s;
    }

    .menu__list.menu__list--active {
        transform: translateX(0%);
        transition: all 0.5s;
    }

    .menu__list-item {
        margin-right: 0 !important;
        padding: 0 15px;
        width: 100%;
        text-align: center;
    }

    .menu__list-link {
        padding: 12px 0;
        display: block;
    }

    .menu__list-link:hover {
        border-bottom: 1px solid transparent;
    }

    .menu__btn {
        position: relative;
        display: block;
        width: 30px;
        height: 26px;
        background: transparent;
        border-top: 4px solid black;
        border-bottom: 4px solid black;
        transition: all 0.2 ease-in-out;
    }

    .menu__btn:before, .menu__btn:after {
        content: " ";
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        top: 50%;
        left: 50%;
        background: currentColor;
        transform: translate(-50%, -50%);
        transition: transform 0.2 ease-in-out;
    }

    .menu__btn.menu__btn--active {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }

    .menu__btn.menu__btn--active:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .menu__btn.menu__btn--active:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .user-nav {
        margin-left: auto;
    }
}

@media (max-width: 500px) {
    .header .logo {
        display: none;
    }

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }

    .user-nav__link {
        padding: 5px;
    }
}

footer {
    background-color: #f6f6f6;
}

.footer-top {
    display: flex;
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;
}

.footer-top__contact {
    margin-right: 50px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-top__contact-logo {
    margin-bottom: 15px;
}

.footer-top__contact-email, .footer-top__contact-phone {
    transition: all 0.2s ease-in-out;
}

.footer-top__contact-email:hover, .footer-top__contact-phone:hover {
    color: #fe3e57;
}

.footer-top__social-list {
    display: flex;
}

.footer-top__social-item:not(:last-child) {
    margin-right: 18px;
}

.footer-top__social-link path {
    fill: #8d8d8d;
    transition: all 0.2s ease-in-out;
}

.footer-top__social-link:hover path {
    fill: #fe3e57;
}

.footer-top__nav {
    width: 170px;
    margin-right: 30px;
}

.footer-top__title {
    margin-bottom: 40px;
    font-size: 22px;
    color: #29282d;
    line-height: 1;
}

.footer-top__nav-li:not(:last-child) {
    margin-bottom: 14px;
}

.footer-top__nav-link {
    transition: color 0.2s ease-in-out;
}

.footer-top__nav-link:hover {
    color: #fe3e57;
}

.footer-top__form-wrapper {
    max-width: 470px;
}

.footer-top__text {
    margin-bottom: 25px;
}

.footer-top__form-input {
    padding: 12px 10px 12px 15px;
    width: 100%;
    max-width: 320px;
    background-color: #ffffff;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    border: none;
}

.footer-top__form-input::-moz-placeholder {
    color: #8d8d8d;
    font-size: 16px;
}

.footer-top__form-input::placeholder {
    color: #8d8d8d;
    font-size: 16px;
}

.footer-top__form-btn {
    padding: 12px 26px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    font-size: 12px;
    flex-wrap: wrap;
}

.footer-bottom__box-img {
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
}

.top-slider {
    padding: 120px 0 45px;
    background-image: url("../images/decor/top-slider-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f6f6f6;
}

.top-slider__container {
    max-width: 1560px;
}

.top-slider__inner {
    width: 1300px;
}

.top-slider__content {
    margin: auto 0;
}

.top-slider__item {
    display: flex !important;
    justify-content: space-between;
    transform: translateY(10%);
    position: relative;
}

.top-slider__img {
    position: relative;
    width: 50%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    flex-basis: content;
}

.top-slider__title {
    margin-bottom: 35px;
    max-width: 670px;
    font-size: 58px;
    line-height: 1.2;
    color: #29282d;
}

.top-slider__text {
    margin-bottom: 55px;
    max-width: 470px;
}

.top-slider .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;
}

.top-slider .slick-dots li {
    padding: 0 5px;
    line-height: 0;
}

.top-slider .slick-dots li button {
    padding: 0;
    font-size: 0;
    background-color: transparent;
    width: 26px;
    height: 26px;
    border: 1px solid transparent;
    border-radius: 50px;
    position: relative;
}

.top-slider .slick-dots li button::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #8d8d8d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-slider .slick-dots li.slick-active button {
    border-color: #fe3e57;
}

.top-slider .slick-dots li.slick-active button::before {
    background-color: #fe3e57;
}

.categories-info {
    padding: 120px 0;
    background-image: url("../images/decor/categories-left-bg.png");
    background-repeat: no-repeat;
    background-position: center left;
}

.categories-info__inner {
    background-image: url("../images/decor/categories-right-bg.png");
    background-repeat: no-repeat;
    background-position: center right;
}

.info {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

.info::before, .info::after {
    position: absolute;
    content: "";
}

.info::before {
    background-image: url("../images/decor/info-before.svg");
    top: -40px;
    left: -45px;
    width: 120px;
    height: 121px;
    z-index: -1;
}

.info::after {
    background-image: url("../images/decor/info-after.svg");
    bottom: -23px;
    right: -23px;
    width: 65px;
    height: 52px;
    z-index: -1;
}

.info__item {
    padding: 60px 40px;
    width: 370px;
    background-color: #ffffff;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
}

.info__item-title {
    margin: 35px 0 10px;
    font-size: 22px;
    color: #29282d;
}

.categories__items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}

.categories__item {
    padding: 35px 0 0 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.categories__item:nth-child(1) {
    grid-row: span 2;
}

.categories__item:nth-child(1) .categories__item-subtitle,
.categories__item:nth-child(1) .categories__link:hover {
    color: #5800e4;
}

.categories__item:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    grid-column: span 2;
}

.categories__item:nth-child(2) .categories__item-subtitle,
.categories__item:nth-child(2) .categories__link:hover {
    color: #fe3e57;
}

.categories__item:nth-child(3) .categories__item-subtitle,
.categories__item:nth-child(3) .categories__link:hover {
    color: #ffb534;
}

.categories__item:nth-child(4) .categories__item-subtitle,
.categories__item:nth-child(4) .categories__link:hover {
    color: #34c3ff;
}

.categories__item-subtitle {
    margin-bottom: 5px;
}

.categories__item-title {
    margin-bottom: 16px;
    font-size: 22px;
    color: #29282d;
}

.categories__link {
    color: #29282d;
    text-transform: uppercase;
    transition: all 0.3s;
}

.video {
    background-image: url("../images/decor/pattern.svg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
    padding: 125px 0;
}

.video__inner {
    display: flex;
}

.video__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    max-width: 530px;
    width: 100%;
    height: 480px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.video__content {
    max-width: 570px;
}

.video__subtitle {
    margin-bottom: 5px;
    padding-top: 75px;
    color: #fe3e57;
    font-size: 22px;
    text-transform: uppercase;
}

.video__title {
    text-align: left !important;
}

.video__text {
    margin-bottom: 55px;
}

.video__link {
    z-index: 1;
}

@media (max-width: 1600px) {
    .top-slider {
        padding: 50px 0 45px;
    }

    .top-slider__inner {
        width: 1150px;
    }
}

@media (max-width: 1600px) and (max-width: 767px) {
    .top-slider__title {
        font-size: calc(26px + 37.4 * (100vw - 320px) / 1200);
    }
}

@media (max-width: 1600px) and (min-width: 767px) {
    .top-slider__title {
        font-size: calc(26px + 22 * 100vw / 1200);
    }
}

@media (max-width: 1200px) {
    .top-slider__inner {
        width: 1000px;
    }

    .top-slider__img {
        -o-object-fit: contain;
        object-fit: contain;
    }

    .info {
        display: block;
    }

    .info::after {
        right: 0;
    }

    .info__item {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
    }

    .categories__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .categories__item {
        background-position: center top;
    }

    .categories__item:nth-child(1) {
        grid-row: auto;
    }

    .categories__item:nth-child(2) {
        grid-column: auto;
        background-position: center right;
    }
}

@media (max-width: 1050px) {
    .top-slider__inner {
        width: 100%;
    }

    .top-slider__item {
        height: 500px;
    }

    .top-slider__item .top-slider__img {
        display: none;
    }

    .top-slider .slick-dots {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .categories__items {
        min-height: 385px;
    }

    .categories__item {
        background-image: none !important;
        justify-content: center;
        padding-left: 15px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }

    .categories__item:nth-child(1) {
        background-color: #eedeef;
    }

    .categories__item:nth-child(2) {
        background-color: #deeeef;
    }

    .categories__item:nth-child(3) {
        background-color: #fef6a9;
    }

    .categories__item:nth-child(4) {
        background-color: #ececec;
    }
}

@media (max-width: 480px) {
    .categories__items {
        grid-template-columns: repeat(1, 1fr);
    }

    .categories__item {
        padding: 10px;
    }
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #8d8d8d;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

a {
    font-size: 16px;
    line-height: 1.6;
    color: #8d8d8d;
}

button {
    border: none;
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 48px;
    line-height: 65px;
    text-transform: uppercase;
    color: #29282d;
}

.text {
    text-align: center;
    max-width: 570px;
    margin: 0 auto 55px;
}

@font-face {
    font-family: "Quicksand-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Quicksand-Regular"), url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
    font-family: "Quicksand-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Quicksand-Medium"), url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
    font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
    font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
    font-family: "Roboto-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
}
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

body, a {
    font-family: "Quicksand-Medium", sans-serif;
    font-weight: 500;
}

.top-slider__link, .video__link, .info__item-title, .categories__link {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
}

.top-slider__title, .title {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
}

.top-slider__link, .video__link {
    position: relative;
    display: inline-block;
    padding: 14px 36px;
    color: #29282d;
    text-transform: uppercase;
    border: 1px solid #fe3e57;
    transition: 1s all ease;
    cursor: pointer;
}

.top-slider__link::before, .video__link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 0%;
    height: 100%;
    background: #fe3e57;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s ease;
}

.top-slider__link:hover::before, .video__link:hover::before {
    width: 100%;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir=rtl] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}