.page-404 {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  &__content {
    max-width: 570px;
    width: 100%;
  }
  &__title {
    margin-bottom: 40px;
    @extend %roboto-700;
    font-size: 48px;
    color: vars.$title;
  }
  &__text {
    margin-bottom: 55px;
    max-width: 470px;
  }
  &__link {
    @extend %btn;
  }
}


@media (max-width: 1200px) {
  .page-404 {
    &__content{
      max-width: 100%;
    }
    &__title{
      margin-bottom: 20px;
      @include vars.adaptiv-font(48, 28)
    }
    &__text{
      max-width: 100%;
    }
    &__img {
      width: 40%;
    }
  }
}


@media (max-width: 991px) {
  .page-404 {
    &__img {
      display: none;
    }
  }
}