//--- blog.html ---
.blog-page {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    margin-right: 30px;
    width: 770px;
  }
  &__item {
    margin-bottom: 60px;
    border-top: 1px solid vars.$bg-dark;
    transition: box-shadow .3s ease-in-out;
    &:hover.blog-page__item--no-image {
      box-shadow: 0px 20px 50px 0px rgba(202, 202, 202, 0.35);
    }
    &:hover {
      box-shadow: 0px 20px 50px 0px rgba(202, 202, 202, 0.35);
    }
  }
  &__item-link {
    display: block;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
  }
  &__img {
    display: block;
    max-width: 770px;
    height: 450px;
    object-fit: cover;
  }
  &__item-box {
    padding: 40px;
    border: 1px solid vars.$bg-dark;
    border-top: none;
  }
  &__item-title {
    margin-bottom: 20px;
    @extend %roboto-500;
    font-size: 22px;
    color: vars.$title;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: vars.$accent;
    }
  }
  .blog-box {
    //other styles lower
    justify-content: start;
    &__author {
      margin-right: 30px;
    }
  }
  &__item-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 770px;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &:hover{
      .blog-page__play-img{
        transform: scale(1);
      }
    }
  }
  &__play-img{
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
  }
  &__slider {
    .slick-prev,
    .slick-next {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      top: 50%;
      transform: translateY(-50%);
      background-color: vars.$accent;
      border: none;
      border-radius: 50%;
      box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.3);
      z-index: 5;
      cursor: pointer;
      path {
        fill: vars.$white;
      }
    }
    .slick-disabled {
      box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);
      background-color: vars.$white;
      path {
        fill: vars.$accent;
      }
    }
  }
  .slick-prev {
    left: 40px;
  }
  .slick-next {
    right: 40px;
  }
  .blog-page__item--slider{
    .blog-page__item-box{
      margin-top: -8px;
    }
  }
  &__aside {
    width: 370px;
  }
}


.person {
  margin-bottom: 40px;
  padding: 40px 25px;
  border: 1px solid vars.$bg-dark;
  text-align: center;
  &__img {
    display: inline-block;
    margin: 0 auto 35px;
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
  &__name {
    @extend %roboto-700;
    font-size: 18px;
    color: vars.$title;
  }
  &__position {
    margin-bottom: 25px;
    color: vars.$accent;
  }
  &__text {
    margin-bottom: 25px;
  }
  &__social-link {
    margin: 0 8px;
    path {
      fill: vars.$default;
      transition: fill 0.2s ease-in-out;
    }
    &:hover {
      path {
        fill: vars.$accent;
      }
    }
  }
}


.latest-post {
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid vars.$bg-dark;
  &__title {
    margin-bottom: 35px;
    @extend %roboto-400;
    color: vars.$title;
    font-size: 16px;
    text-transform: uppercase;
  }
  &__item {
    margin-bottom: 20px;
    display: flex;
    &+.latest-post__item {
      padding-top: 20px;
      border-top: 1px solid vars.$bg-dark;
    }
  }
  &__img-link {
    margin-right: 20px;
    display: block;
    min-width: 80px;
  }
  &__img {
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
  &__title-link {
    margin-bottom: 5px;
    @extend %roboto-400;
    font-size: 18px;
    line-height: 1.2;
    color: vars.$title;
    transition: color .2s ease-in-out;
    &:hover{
      color: vars.$accent;
    }
  }
  &__date {
    position: relative;
    padding-left: 26px;
    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      left: 0;
      top: 5px;
      background-image: url("../images/icons/calendar.svg");
    }
  }
}


//--- index.html ---
.blog {
  background-image: url("../images/blog-bg.svg");
  background-position: center center;
  background-repeat: no-repeat;
  &__items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    &::after {
      position: absolute;
      content: "";
      right: -10px;
      top: -25px;
      width: 126px;
      height: 53px;
      background-image: url("../images/decor/blog-decor.svg");
      z-index: -1;
    }
  }
  &__item {
    max-width: 370px;
    background-color: vars.$white;
    border: 1px solid vars.$bg-dark;
    transition: all .3s ease-in-out;
    &:hover {
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      transition: all .3s ease-in-out; 
      .blog__item-link {
        color: vars.$accent;
        svg path {
          fill: vars.$accent;
        }
      }
    }
  }
  &__item-imglink {
    display: block;
    &__img {
      height: 288px;
      object-fit: cover;
    }
  }
  &__item-box {
    padding: 30px 40px;
  }
  &__item-title {
    @extend %roboto-400;
    color: vars.$title;
    font-size: 22px;
    margin-bottom: 20px;
  }
}


.blog-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  &__author,
  &__date {
    padding-left: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 4;
    }
  }
  &__author::before {
    background-image: url("../images/icons/user-grey.svg");
  }
  &__date::before {
    background-image: url("../images/icons/time.svg");
  }
}


//--- blog-one.html ---
.blog-one {
  &__text {
    border: 1px solid #ececec;
    border-top: none;
    padding: 30px;
    margin-top: -1px;
    h4 {
      color: vars.$title;
      font-size: 22px;
      @extend %roboto-500;
      margin: 25px 0;
    }
    p {
      margin: 25px 0;
    }
    blockquote {
      background-color: #f6f6f6;
      border-left: 3px solid vars.$accent;
      padding: 35px;
      font-size: 22px;
      @extend %roboto-400;
      color: vars.$title;
      margin: 25px 0;
    }
  }
  &__left-img {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  &__right-img {
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  &__info {
    display: flex;
    margin-bottom: 25px;
  } 
  &__info-item{
    a{
      transition: color .3s ease-in-out;
      &:hover{
        color: vars.$accent;
      }
    }
  }
  &__info-link {
    margin-right: 30px;
    padding-left: 28px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/calendar.svg");
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
    }
  }
  &__info-link--comment::before {
    background-image: url("../images/icons/comment.svg");
  }
  &__info-link--author::before {
    background-image: url("../images/icons/user-blog.svg");
  }
  &__form-title {
    color: vars.$title;
    margin: 35px 0 25px;
    text-transform: uppercase;
    font-size: 24px;
    @extend %roboto-700;
  }
  .comments-form {
    border-bottom: none;
  }
  &__box {
    margin: 25px 0 35px;
    display: flex;
    justify-content: space-between;
  }
  &__tags{
    a{
      transition: color .3s ease-in-out;
      &:hover{
        color: vars.$accent;
      }
    }
  }
  &__tags,
  &__share {
    span {
      text-transform: uppercase;
      color: vars.$title;
    }
  }
  &__share {
    a {
      margin-right: 12px;
      path {
        fill: vars.$default;
        transition: all .3s ease-in-out;
      }
      &:hover {
        path {
          fill: vars.$accent;
        }
      }
    }
  }
  &__author {
    display: flex;
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
    padding-bottom: 40px;
  }
  &__author-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin-right: 30px;
  }
  &__author-name {
    @extend %roboto-500;
    margin-bottom: 24px;
    font-size: 22px;
    color: vars.$title;
  }
}


.comments {
  margin-bottom: 40px;
  display: flex;
  &__img {
    min-width: 71px;
    height: 71px;
    margin-right: 30px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
  &__content-top {
    display: flex;
    margin-bottom: 10px;
  }
  &__content-name {
    color: vars.$title;
    margin-right: 13px;
    @extend %roboto-400;
  }
  &__content-date {
    padding-left: 13px;
  }
  &__content-star {
    margin-left: auto;
    margin-right: 0;
  }
  &__content-text {
    margin-bottom: 10px;
  }
  &__content-reply {
    display: inline-block;
    padding-left: 25px;
    position: relative;
    transition: color .3s ease-in-out;
    &:hover{
      color: vars.$accent;
    }
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 7px;
      width: 15px;
      height: 13px;
      background-image: url("../images/icons/reply.svg");
    }
  }
}


.comments-form {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 60px;
  &__title {
    color: vars.$title;
    font-size: 22px;
    @extend %roboto-400;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 50px;
      background-color: vars.$accent;
      bottom: 0;
      left: 0;
    }
  }
  &__rating {
    margin-bottom: 30px;
  }
  &__rating-title {
    margin-right: 60px;
    color: vars.$title;
  }
  &__label {
    margin-right: 25px;
  }
  &__input {
    @extend %radio-hidden;
    &:checked+.comments-form__radio {
      svg {
        path {
          fill: #ffc35b;
        }
      }
    }
  }
  &__radio {
    cursor: pointer;
    path {
      fill: #d8d8d8;
    }
  }
  &__box-input {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__text-input {
    width: 570px;
    display: inline-block;
    padding: 0 20px;
    height: 50px;
    border: 1px solid #f0f0f0;
  }
  &__textarea {
    padding: 15px 20px;
    border: 1px solid #f0f0f0;
    display: block;
    width: 100%;
    height: 225px;
    resize: none;
    margin-bottom: 40px;
  }
  &__btn {
    border: none;
    @extend %btn;
  }
}



@media (max-width: 1200px) {
  .blog-page{
    &__inner {
      flex-direction: column;
    }
    &__content {
      margin-right: 0;
      width: 100%;
    }
    &__img {
      max-width: 100%;
      width: 100%;
    }
    &__item-popup {
      max-width: 100%;
      width: 100%;
    }
    &__aside{
      order: -1;
      width: 100%;
    }
    .filter-search {
      &__input {
        width: 100%;
      }
    }
    .filter-category, 
    .filter-popular {
      display: none;
    }
  }

  .person{
    display: none;
  }

  .latest-post{
    &__title{
      margin-bottom: 20px;
    }
  }

  .comments-form{
    padding-bottom: 0;
  }

  //--- index.html ---
  .blog{
    .blog__item{
      max-width: 100%;
    }
    &__item-box{
      padding: 20px;
    }
    &__img{
      margin: 0 auto;
    }
  } 
}


@media (max-width: 1050px) {
  //--- index.html ---
  .blog{
    .blog__items{
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 20px;
    }
  }
}


@media (max-width: 991px) {
  .blog-page {
    &__item {
      &:hover.blog-page__item--no-image {
        box-shadow: none;
      }
      &:hover {
        box-shadow: none;
      }
    }
    &__img{
      height: 300px;
    }
    &__item-box{
      padding: 15px;
    }
    &__item-title {
      font-size: 18px;
      &:hover {
        color: vars.$title;
      }
    }
    &__item-popup {
      height: 300px;
      &:hover{
        .blog-page__play-img{
          transform: scale(0.9);
        }
      }
    }
  }

  .person {
    &__social-link {
      &:hover {
        path {
          fill: vars.$default;
        }
      }
    }
  }

  .latest-post{
    &__item:last-child{
      margin-bottom: 0;
    }
    &__title-link {
      &:hover{
        color: vars.$title;
      }
    }
  }

  //--- index.html ---
  .blog {
    &__item {
      max-width: 100%;
      &:hover {
        box-shadow: none;
        .blog__item-link {
          color: vars.$default;
          svg path {
            fill: vars.$default;
          }
        }
      }
    }
    &__item-box {
      padding: 10px;
    }
    &__item-title {
      margin-bottom: 10px;
      font-size: 20px;
    }
    &__img {
      margin: 0 auto;
    }
  }

  .blog-box{
    margin-bottom: 10px;
  }
}


@media (max-width: 767px) {
  .blog-one{
    &__info-link{
      margin-right: 10px;
    }
    &__text{
      padding: 15px;
    }
    &__left-img{
      float: none;
    }
    &__author{
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    &__author-name{
      margin-bottom: 10px;
    }
    blockquote{
      padding: 15px;
    }
    h4{
      margin: 10px 0;
    }
  }

  // --- index.html ---
  .blog{
    .blog__items{
      grid-template-columns: repeat(1, 1fr);
    }
  } 
}


@media (max-width: 480px) {
  .blog-page{
    padding: 30px 0;
    .blog-box{
      margin-bottom: 10px;
    }
    &__item{
      margin-bottom: 30px;
    }
    &__item-title{
      margin-bottom: 10px;
      font-size: 20px;
    }
    &__item-box{
      padding: 20px;
    }
  }

  .blog-one{
    &__info{
      flex-wrap: wrap;
    }
    &__author{
      flex-direction: column;
    }
    &__author-img{
      margin-bottom: 15px;
      width: 80px;
      height: 80px;
    }
  }

  .comments-form{
    &__box-input{
      flex-wrap: wrap;
    }
  }
}