.modal {
  margin: 0 auto;
  max-width: 570px;
  &__links {
    text-align: center;
    margin-bottom: 40px;
  }
  &__link {
    margin: 0 30px;
    @extend %roboto-400;
    font-size: 22px;
    color: vars.$default;
    text-transform: uppercase;
  }
  &__link--active {
    color: vars.$accent;
  }
  &__label {
    margin-bottom: 30px;
    display: block;
  }
  &__input {
    display: block;
    margin-top: 4px;
    padding: 0 15px;
    width: 100%;
    height: 60px;
    background-color: vars.$bg;
    border: none;
  }
  &__btn {
    position: relative;
    display: block;
    padding: 14px 0;
    width: 100%;
    color: vars.$default;
    @extend %roboto-400;
    text-transform: uppercase;
    background-color: vars.$title;
    border: none;
    cursor: pointer;
    top: 0;
    &:hover {
      box-shadow: 0px 2px 10px 0px rgba(30, 30, 30, 0.5);
    }
    &:active {
      top: 2px;
    }
  }
  &__error {
    display: inline-block;
    margin-top: 12px;
    color: vars.$accent;
  }
  &__text {
    margin-bottom: 25px;
    color: vars.$accent;
  }
}

@media (max-width: 375px) {
  .modal__link {
    margin: 0 20px;
  }
}