.product {
  text-align: center;
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
  }
  &__link {
    margin-top: 30px;
    @extend %btn-white;
    z-index: 1;
  }
}

.product-item {
  max-width: 370px;
  text-align: center; 
  &--sale {
    .product-item__top-box::before {
      position: absolute;
      content: "SALE";
      padding: 12px 26px;
      bottom: 25px;
      left: 25px;
      @extend %roboto-400;
      color: vars.$white;
      line-height: 1;
      text-transform: uppercase;
      background-color: vars.$accent;
    }
  }
  &:hover {
    .top-box__link-box {
      transform: translateY(0);
    }
  }
  
  //when products are displayed as a list when clicking on a button
  &.product-item--list {
    display: flex;
    min-width: 100%;
    .star{
      margin: 0;
    }
    &:hover {
      .top-box__link-box {
        transform: translateY(-280%);
      }
    }
    .product-item__top-box {
      margin-bottom: 0;
      height: 100%;
      min-width: 200px;
      img {
        height: 100%;
      }
    }
    .top-box__link-box {
      bottom: auto;
      background-color: transparent;
      width: 155px;
      box-shadow: none;
      .top-box__link {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .top-box__link--line {
        display: none;
      }
    }
    .product-item__bottom-box{
      padding: 30px 40px;
      width: 100%;
      border: 1px solid #ececec;
      border-left: none;
    }
    .bottom-box__wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    .bottom-box__title-link{
      width: 100%;
    }
    .bottom-box__title{
      margin-top: 10px;
      padding: 0;
      width: 100%;
      order: -1;
    }
    .bottom-box__price {
      order: -1;
    }
    .bottom-box__new-price{
      padding: 0;
    }
    .bottom-box__content-box{
      text-align: left;
      display: block;
    }
    .bottom-box__text{
      margin-bottom: 20px;
    }
    .bottom-box__btn { 
      padding: 11px 40px;
      background-color: vars.$title;
      color: vars.$white;
      border: none;
      transition: all .2s ease-in-out;
      &:hover {
        background-color: vars.$accent;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
        cursor: pointer;
      }
    }
  }
}

.top-box{
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  &__img{
    object-fit: cover;
    display: inline;
  }
  &__link-box {
    position: absolute;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 220px;
    left: 0;
    right: 0;
    bottom: 50px;
    background-color: vars.$white;
    box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
    border-radius: 25px;
    transform: translateY(300%);
    transition: all 0.3s;
  }
  &__link {
    display: inherit;
    path {
      transition: all 0.3s;
    }
  }
  &__link:hover {
    path {
      fill: vars.$accent;
    }
  }
  &__link--line::before,
  &__link--line::after {
    content: "";
    position: absolute;
    background-color: #ececec;
    width: 1px;
    height: 30px;
    top: 10px;
  }
  &__link--line::before {
    left: 70px;
  }
  &__link--line::after {
    right: 70px;
  }
}

.bottom-box{
  &__title {
    color: vars.$title;
    font-size: 22px;
    padding: 15px 0 20px;
    transition: color .2s ease-in-out;
    &:hover {
      transition: color .2s ease-in-out;
      color: vars.$accent;
    }
  }
  &__price {
    display: flex;
    justify-content: center;
    @extend %roboto-400;
  }
  &__new-price {
    padding: 0 12px;
    color: vars.$title;
  }
  &__old-price {
    padding: 0 12px;
    text-decoration: line-through;
  }
  &__content-box {
    display: none;
  }
}


.product-page {
  padding: 120px 0 0px;
}

.product-one {
  &__inner {
    display: flex;
  }
  &__slide {
    width: 730px;
    margin-right: 70px;
  }
  &__content {
    width: 370px;
  }
  &__title {
    color: vars.$title;
    @extend %roboto-500;
    margin-bottom: 20px;
    font-size: 20px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__price {
    display: flex;
    font-size: 18px;
  }
  &__price-new {
    color: vars.$title;
  }
  &__price-old {
    text-decoration: line-through;
    padding-left: 15px;
  }
  &__item-star {
    display: flex;
    align-items: center;
    span {
      margin-left: 8px;
      color: vars.$title;
      font-size: 18px;
    }
  }
  &__item-text {
    margin-bottom: 30px;
    span {
      color: vars.$title;
      display: block;
      @extend %roboto-400;
      font-size: 18px;
    }
  }
  &__btn {
    @extend %btn;
    border: none;
    text-transform: none;
    font-size: 16px;
    margin-left: 15px;
  }
}

.product-filter {
  &__color {
    margin-bottom: 20px;
    label {
      margin-right: 10px;
    }
  }
  &__color-input {
    @extend %radio-hidden;
    &:checked {
      &+.product-filter__color-checkbox {
        border-color: vars.$accent;
      }
    }
  }
  &__color-checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid #ececec;
    cursor: pointer;
    position: relative;
    display: inline-block;
    span {
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      top: 3px;
      left: 3px;
    }
  }
  &__color-title,
  &__size-title {
    margin-bottom: 5px;
    color: vars.$title;
    font-size: 18px;
    @extend %roboto-400;
  }
  &__size {
    margin-bottom: 20px;
    label {
      margin-right: 10px;
      display: inline-block;
    }
  }
  &__size-input {
    @extend %radio-hidden;
    &:checked {
      &+.product-filter__size-checkbox {
        border-color: vars.$accent;
      }
    }
  }
  &__size-checkbox {
    padding: 4px 12px;
    border: 1px solid #ececec;
    cursor: pointer;
    display: inline-block;
  }
}


.product-slide {
  display: flex;
  .slick-vertical .slick-slide {
    height: 140px;
    margin-bottom: 30px;
  }
  &__thumb {
    width: 140px;
    margin-right: 30px;
  }
  &__thumb-item {
    margin-bottom: 30px;
    width: 140px;
    height: 140px;
    cursor: pointer;
    img {
      width: 140px;
      height: 140px;
      object-fit: cover;
    }
  }
  &__big {
    width: 560px;
    img {
      width: 560px;
      height: 650px;
      object-fit: cover;
    }
  }
}

.product-info {
  &__list {
    margin-bottom: 30px;
  }
  &__item {
    display: flex;
    margin-bottom: 5px;
  }
  &__title {
    min-width: 100px;
    color: vars.$title;
  }
  &__link {
    path {
      fill: vars.$default;
    }
    &+.product-info__link {
      margin-left: 14px;
    }
    &:hover {
      path {
        fill: vars.$accent;
      }
    }
  }
}

.product-tabs {
  padding-top: 110px;
  &__top {
    margin-bottom: 40px;
    border-bottom: 1px solid #f0f0f0;
    @extend %roboto-400;
    font-size: 22px;
  }
  &__top-item {
    display: inline-block;
    margin-bottom: 10px;
    &+.product-tabs__top-item {
      margin-left: 55px;
    }
  }
  &__top-item--active {
    color: vars.$title;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      height: 1px;
      bottom: -11px;
      left: 0;
      right: 0;
      width: 100%;
      background-color: vars.$accent;
    }
  }
  &__content-item {
    display: none;
    &.product-tabs__content-item--active {
      display: block;
    }
  }
}


.related {
  padding: 50px 0 120px;
  &__title {
    margin-bottom: 50px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    .product-item__img-box {
      height: auto;
    }
    .product-item__title {
      padding: 5px 0;
    }
  }
}


.star {
  margin: 0 auto;
}


@media (max-width: 1200px) {
  .product-item{
    margin-bottom: 0;
  }
  .top-box{
    margin-bottom: 0;
  }
  .bottom-box{
    &__title{
      @include vars.adaptiv-font(22, 16);
    }
  }
}


@media (max-width: 1050px) {

}


@media (max-width: 991px) {

}


@media (max-width: 767px) {
  .bottom-box{
    &__title{
      padding: 0 5px;
    }
  }
}


@media (max-width: 480px) {}