.shop {
  // padding: 120px 0 105px;
  &__inner {
    display: flex;
  }
  &__filter-btn {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: vars.$accent;
    padding: 0;
    right: 3%;
    top: 10%;
    border-radius: 50%;
    border: none;
    z-index: 101;
  }
  &__filters {
    width: 370px;
    margin-right: 30px;
  }
  &__filters-btn{
    margin-top: 20px;
    box-shadow: none !important;
    @extend %btn;
  }
  & .shop__filters-btn{

  }
}


//filters
.filter {
  &__item {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid vars.$bg;
  }
  &__item:last-child{
    margin-bottom: 0;
  }
  &__title {
    margin-bottom: 10px;
    @extend %roboto-400;
    font-size: 16px;
    color: vars.$title;
    text-transform: uppercase;
  }
  &__btn-box{
    padding: 20px;
    border: 1px solid vars.$bg;
  }
  &__btn{
    display: block;
    margin: 0 auto;
    @extend %btn;
  }
}

.filter-search {
  &__form {
    display: flex;
  }
  &__input {
    padding: 0 5px 0 15px;
    height: 50px;
    width: 260px;
    background-color: vars.$bg;
    border: none;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: vars.$accent;
    transition: all .3 ease;
    &:hover {
      box-shadow: 0px 2px 10px 0px rgba(255, 17, 48, 0.5);
    }
  }
}

.filter-price {
  user-select: none;
  &__label {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__input{
    @extend %checkbox-hidden;
  }
}

//stylization of filter price with ios-rangeslider
//filter
.irs{
  position: relative;
  display: block;
  height: 30px;
}

//grey line
.irs--flat .irs-line {
  position: relative;
  display: block;
  top: 13px;
  height: 5px;
  background-color: #ececec;
  outline: none; 
}

//active line
.irs--flat .irs-bar {
  position: absolute;
  display: block;
  top: 13px;
  height: 5px;
  background-color: vars.$accent;
}

//handlers of line
.irs--flat .irs-handle {
  position: absolute;
  display: block;
  top: 0px;
  width: 30px;
  height: 30px;
  background-color: vars.$white;
  box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);
}

//numbers
.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.filter-color {
  user-select: none;
  &__label {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    cursor: pointer;
  }
  &__label:last-child{
      border-bottom: none;
      padding-bottom: 0;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked+.filter-color__checkbox {
      background-image: url("../images/icons/ok.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__checkbox {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -16px;
    margin-top: 7px;
  }
  &__checkbox--blue {
    background-color: #00aeef;
  }
  &__checkbox--red {
    background-color: #f52574;
  }
  &__checkbox--green {
    background-color: #24d4ac;
  }
  &__checkbox--orange {
    background-color: #ff7e00;
  }
  &__checkbox--black {
    background-color: #000000;
  }
  &__checkbox--purple {
    background-color: #923899;
  }
}

.filter-size {
  user-select: none;
  &__label {
    display: block;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
  }
  &__label:last-child{
    margin-bottom: 0;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked+.filter-size__checkbox {
      background-image: url("../images/icons/ok2.svg");
      background-repeat: no-repeat;
      border: none;
      &+.filter-size__text {
        color: vars.$accent;
      }
    }
  }
  &__checkbox {
    position: absolute;
    margin-top: 3px;
    margin-left: -35px;
    width: 20px;
    height: 20px;
    border: 1px solid vars.$default;
    border-radius: 50%;
  }
}

.filter-category {
  user-select: none;
  &__label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked+.filter-category__checkbox {
      background-color: vars.$accent;
      color: vars.$white;
      transition: all .1s ease-in-out;
    }
  }
  &__checkbox {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: vars.$title;
    background-color: vars.$bg;
    transition: all .1s ease-in-out;
  }
}

.filter-popular {
  user-select: none;
  &__label {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 8px;
    padding: 10px 0;
    cursor: pointer;
  }
  &__label:last-child{
    margin-bottom: 0;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked+.filter-popular__checkbox {
      background-color: vars.$accent;
      color: vars.$white;
      border-color: vars.$accent;
      transition: all .1s ease-in-out;
    }
  }
  &__checkbox {
    padding: 10px 20px;
    color: vars.$default;
    background-color: vars.$white;
    border: 1px solid #8d8d8d;
    transition: all .1s ease-in-out;
  }
}


.shop-content {
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid vars.$bg-dark;
    .product-item {
      margin-bottom: 40px;
    }
  }
  &__filter {
    margin-bottom: 40px;
    padding: 20px 25px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid vars.$bg-dark;
  }
  &__filter-buttons {
    display: flex;
    align-items: center;
  }
  &__filter-btn {
    margin-left: 15px;
    padding: 0;
    line-height: 0;
    outline: none;
  }
  &__filter-btn--active {
    transition: all .3s ease-in-out;
    path {
      fill: vars.$accent;
    }
  }
  .select-style{
    font-size: 16px;
    color: vars.$default;
    border-color: vars.$default;
  }
}


//styles of product in _product.scss


//styles of pagination in _global.scss

@media (max-width: 1200px) {
  .shop {
    &__inner {
      display: block;
    }
    &__filters {
      padding-top: 60px;
      position: absolute;
      display: none;
      margin-right: 0;
      width: 100%;
      top: 20px;
      left: 0;
      background-color: vars.$white;
      z-index: 100;
      border-bottom: 1px solid vars.$bg;
    }
    &__filter-btn {
      display: flex;
    }
  }
  .shop-content {
    &__inner {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      .product-item{
        margin-bottom: 0;
      }
    }
    &__nogrid {
      display: flex;
    }
  }
  .filter{
    &__item{
      margin-bottom: 0;
      padding: 20px;
    }
  }
}


@media (max-width: 1050px) {

}


@media (max-width: 991px) {

}


@media (max-width: 767px) {
  .shop-content {
    &__inner {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}


@media (max-width: 480px) {
  // .shop-content {
  //   &__inner {
  //     display: grid;
  //     grid-gap: 20px;
  //     grid-template-columns: repeat(1, 1fr);
  //   }
  // }
}