$white: #ffffff;
$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;
$bg-dark: #ececec;


%quicksand-400 {
  font-family: 'Quicksand-Regular', sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 500;
}

%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}


$maxWidth: 1200;

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;

    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }

    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

// @include adaptiv-font(120, 50);


%btn {
  position: relative;
  padding: 12px 26px;
  top: -1px;
  background-color: $accent;
  color: #fff;
  @extend %roboto-400;
  text-transform: uppercase;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  cursor: pointer;
  border: none;
  &:hover {
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.5);
  }
  &:active {
    top: 2px;
  }
}


%btn-white {
  position: relative;
  display: inline-block;
  padding: 14px 36px;
  @extend %roboto-400;
  color: $title;
  text-transform: uppercase;
  border: 1px solid $accent;
  transition: 1s all ease;
  cursor: pointer;
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 0%;
    height: 100%;
    background: $accent;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s ease;
  }
  &:hover::before {
    width: 100%;
  }
}


%checkbox-hidden,
%radio-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}