@use 'vars';

@use 'partials/header';
@use 'partials/footer';



//--- main page ---
.top-slider {
  margin-top: 70px;
  padding: 150px 0 45px;
  background-image: url("../images/decor/top-slider-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: vars.$bg;
  &__container.top-slider__container {
    max-width: 1560px;
  }
  &__item{
    padding-left: 175px;
    display: flex !important;
    justify-content: space-between;
  }
  &__content {
    margin: auto 0;
  }
  &__title {
    margin-bottom: 35px;
    max-width: 600px;
    @extend %roboto-700;
    font-size: 58px;
    line-height: 1.2;
    color: vars.$title;
  }
  &__text {
    margin-bottom: 55px;
    max-width: 500px;
  }
  &__link {
    @extend %btn-index;
  }
  //--- styles for slider ---
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    li {
      padding: 0 5px;
      line-height: 0;
      button {
        position: relative;
        padding: 0;
        width: 26px;
        height: 26px;
        font-size: 0;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 50px;
        &::before {
          content: "";
          position: absolute;
          width: 6px;
          height: 6px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: vars.$default;
          border-radius: 50%;
        }
      }
      &.slick-active {
        button {
          border-color: vars.$accent;
          &::before {
            background-color: vars.$accent;
          }
        }
      }
    }
  }
}


.categories-info {
  background-image: url("../images/decor/categories-left-bg.png");
  background-repeat: no-repeat;
  background-position: center left;
  &__inner {
    background-image: url("../images/decor/categories-right-bg.png");
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.info {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 110px;
  &::before,
  &::after {
    position: absolute;
    content: "";
  }
  &::before {
    background-image: url("../images/decor/info-before.svg");
    top: -40px;
    left: -45px;
    width: 120px;
    height: 121px;
    z-index: -1;
  }
  &::after {
    background-image: url("../images/decor/info-after.svg");
    bottom: -23px;
    right: -23px;
    width: 65px;
    height: 52px;
    z-index: -1;
  }
  &__item {
    padding: 40px;
    background-color: vars.$white;
    box-shadow: 20px 0px 60px 0px rgba(200, 200, 200, 0.50);
  }
  &__item-title {
    margin: 35px 0 10px;
    @extend %roboto-400;
    font-size: 22px;
    color: vars.$title;
  }
}

.categories {
  &__items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    position: relative;
    padding: 30px 0 0 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &:hover{
      &:nth-child(1) {
        .categories__item-text {
          color: #5800e4;
        }
        svg path{
          fill: #5800e4;
        }
      }
      &:nth-child(2) {
        .categories__item-text {
          color: vars.$accent;
        }
        svg path{
          fill: vars.$accent;
        }
      }
      &:nth-child(3) {
        .categories__item-text {
          color: #ffb534;
        }
        svg path{
          fill: #ffb534;
        }
      }
      &:nth-child(4) {
        .categories__item-text {
          color: #34c3ff;
        }
        svg path{
          fill: #34c3ff;
        }
      }
    }
    &:nth-child(1) {
      grid-row: span 2; 
      .categories__item-subtitle {
        color: #5800e4;
      }
    }
    &:nth-child(2) {
      grid-column: span 2;
      .categories__item-subtitle {
        color: vars.$accent;
      }
    }
    &:nth-child(3) {
      .categories__item-subtitle {
        color: #ffb534;
      }
    }
    &:nth-child(4) {
      .categories__item-subtitle {
        color: #34c3ff;
      }
    }
  }
  &__item-subtitle {
    margin-bottom: 10px;
  }
  &__item-title {
    margin-bottom: 10px;
    font-size: 22px;
    color: vars.$title;
  }
  &__item-text{
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: vars.$title;
    text-transform: uppercase;
    svg {
      position: absolute;
      top: 9px;
      right: -15px;
    }
  }
  &__item-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


.video {
  background-image: url("../images/decor/pattern.svg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: vars.$bg;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    max-width: 530px;
    width: 100%;
    height: 480px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &:hover{
      .video__play-img{
        transform: scale(1);
      }
    }
  }
  &__play-img{
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
  }
  &__content {
    width: 570px;
  }
  &__subtitle {
    padding-top: 75px;
    font-size: 22px;
    color: vars.$accent;
  }
  &__title.video__title {
    text-align: left;
  }
  &__text {
    margin-bottom: 55px;
  }
  &__link {
    @extend %btn-index;
    z-index: 1;
  }
}


//--- product styles in _product.scss


.promo {
  background-image: url("../images/promo-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: vars.$bg-dark;
  text-align: center;
  &__inner {
    margin-left: auto;
    max-width: 560px;
    width: 100%;
  }
  &__subtitle {
    margin-bottom: 10px;
    font-size: 22px;
    color: vars.$accent;
    text-transform: uppercase;
  }
  &__title{
    margin-bottom: 55px;
  }
  &__clock {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
  }
  &__clock-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: vars.$white;
    border-radius: 50%;
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
    span {
      margin: 10px 0 7px;
      @extend %roboto-700;
      font-size: 48px;
      color: vars.$title;
      line-height: 1;
    }
  }
  &__link {
    @extend %btn-index;
    z-index: 1;
  }
}


.partners {
  padding-top: 100px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


//--- blog styles in _blog.scss



